/* BASIC ****************************************************** */
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* * {
    outline: 1px solid #f00 !important;
    opacity: 1 !important;
    visibility: visible !important;
} */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100% !important;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}
body,
main,
#root,
#page-wrapper {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    color: hsl(239, 57%, 85%);
    background-color: hsl(228, 33%, 97%); 
}
#page-wrapper,
#info-group,
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#page-wrapper, body, html {
    height: auto;
}


/*  ******************************************************* */
#comments-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
/* already writen replies being displayed */
.replied{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    border-left: 1px solid hsl(239, 57%, 85%);
    row-gap: 1rem;
}
.replied--special{
    width: 100%;
}
.replied .wrapper{
    width: 90%;
}



@keyframes flipdown {
    0% {
    opacity: 0;
    transform: scale(.8);
    }
    92% {
    opacity: 1;
    }
    100% {
    transform: scale(1);
    animation-delay: 0s;
    }
}

#comments-wrapper .wrapper {
    animation: flipdown .4s ease both;
    animation-delay: #{0.2}s;
}
#comments-wrapper .replied {
    animation: flipdown .4s ease both;
    animation-delay: #{0.3}s;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .wrapper{
        width: 60% !important;
    }
    /* already writen replies being displayed */
    .replied{
        width: 60% !important;
    }
    .replied--special{
        width: 100%;
    }
    .replied .wrapper{
        width: 90% !important;
    }
    .new-comment {
        width: 60% !important;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

