.wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  gap: 1rem;
}

/* Comment block styles */
.comment{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  min-height: 10rem;
  height: auto;
  padding: 25px;
  gap: 24px;
}
.comment>*{
  flex: 0 1 auto;
}
.comment .body{
  flex: 4;
}

.like-btn, .like-btn div{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 10px;
  border-radius: 10px;
  background: hsl(223, 19%, 93%);
  /* Light gray */
}
.like-btn p, .reply-btn{
  font-weight: 700;
  color: hsl(238, 40%, 52%);
  /* Moderate blue */
}
.like-btn button{
  padding: 10px 10px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.like-btn button svg{
  color: #C5C6EF;
}
.liked svg, .disliked svg{
  color: hsl(238, 40%, 52%) !important;
}

.body{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
}

.header, .header div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 15px;
}
.you-title{
  color: white;
  padding: 3px 7px;
  background: hsl(238, 40%, 52%);
}
.header-btn-mobile{
  display: none !important;
}
.header{width: 100%;}
.header img{
  width: 30px;
  height: auto;
}
.header p:nth-child(2){
  font-weight: 700;
  color: hsl(212, 24%, 26%);
}
.header div p:last-child{
  color: hsl(211, 10%, 45%);
}


.content{
  line-height: 20px;
  color: hsl(211, 10%, 45%);
  width: 100%;
  height: auto;
  overflow-y: auto;
}
.content p em{
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

/* mycontent message close */
.content-close{
  display: none;
}

.reply-btn,.edit-btn,.delete-btn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  gap: 5px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
}
.reply-btn-mobile{
  display: none !important;
}
.delete-btn{
  color:hsl(358, 79%, 66%);
}
.edit-btn{
  color: hsl(238, 40%, 52%);
}
.reply-btn img,.edit-btn img,.delete-btn img{
  width: auto;
}

/* reply-form: The box to write new replies in */
/* new-comment: The box to write new comments in */
.reply-form, .new-comment{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    height: 10rem;
    padding: 25px;
    gap: 24px;
}
.new-comment{
    width: 50%;
}
.reply-form-mobile{
  display: none;
}

/* reply-form close css */
.reply-form-close{
  display: none;
}

.reply-form>*, 
.new-comment>* 
.reply-form-open>*{
    flex: 0 1 auto;
}
.reply-form img, 
.new-comment img, 
.reply-form-open img{
    width: 40px;
    height: auto;
}
/* general textarea style */
.reply-form textarea, .new-comment textarea, 
.reply-form-open textarea, .mycomment-textarea{
    flex: 4;
    font-size: .95rem;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border: 2px solid hsl(228, 33%, 97%);
    text-overflow: inherit;
    resize: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
/* general button style  */
.reply-form button, .new-comment button, 
.reply-form-open button, .update-btn,
#model div button{
    width: 6rem;
    height: 2.8rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: hsl(238, 40%, 52%);
}
button:active{
  transform: scale(1.07);
}

/* Mycomments: Styling for Comments and Relies that are made by the user */
.edit-options{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.mycomment-textarea{
  width: 100%;
  min-height: 125px;
  resize: none;
}
.mycomment-textarea-close{
  display: none;
}
.update-btn-close{
  display: none;
}


/* Model: Model-view for delete button */
#model-view{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100rem;
  height: 100rem;
  background: #4d4d4d5b;
}
#model{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  color: hsl(211, 10%, 45%);
  line-height: 20px;
  width: 300px;
  height: 180px;
  gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  background: white;
}
#model-view-close{
  display: none;
}
#model p:first-child{
  font-weight: 700;
  color: hsl(212, 24%, 26%);
}
#model p:nth-child(2){
  font-size: .9rem;
}
#model div{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
#model div button{
  width: 100%;
  height: 2.5rem;
  background-color: hsl(212, 24%, 26%);
}
#model div button:nth-child(2){
  background-color: hsl(358, 79%, 66%);
}
/* No hover effects on touch ***********************************/
@media (hover: hover) and (pointer: fine) {
  .reply-btn:hover, .reply-btn img:hover, 
  .reply-form button:hover, .new-comment button:hover,
  .update-btn:hover{
    transition: .2s ease-out;
    opacity: .7;
  }
  .edit-btn:hover{
    color:hsl(239, 57%, 85%);
  }
  .delete-btn:hover{
    color:hsl(357, 100%, 86%);
  }
  .like-btn button:hover svg{
    color: hsl(238, 40%, 52%);
  }
}







/*  CSS MEDIA QUERIES******************************************************* */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #comments-wrapper{
      row-gap: 1rem;
      width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding: 0 1.5rem;
  }
  /* already writen replies being displayed */
  .replied{
      width: 100%;
      max-width: 425px;
      border-left: 1px solid black;
      row-gap: 1rem;
  }
  .replied .wrapper{
      width: 95%;
  }

  /* COMMENTS CSS *****************************************************/
  .wrapper {
      width: 100% ;
      max-width: 425px;
      height: auto;
    }
    
    .comment{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      background: white;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      min-height: 10rem;
      height: auto;
      padding: 1rem;
      gap: 24px;
    }
    
    .like-btn{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 2rem;
      gap: 15px;
      order: 10;
      border-radius: 5px;
      padding: .5rem;
      background-color: transparent;
    }
    .like-btn div{
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      width: fit-content;
      background: hsl(223, 19%, 93%);
    }
    .header-btn-mobile{
      display: flex;
      flex-flow: row wrap !important;
      justify-content: center;
      align-items: center;
      gap: 5px !important;
    }

    .header img{
      width: 30px;
      height: auto;
    }

    .reply-btn{
      display: none;
    }
    .reply-btn-mobile{
      display: flex !important;
      height: auto;
    }

    /* reply-form: The box to write new replies in */
    /* new-comment: The box to write new comments in */
    .reply-form, .new-comment{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        background: white;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        height: 10rem;
        padding: 10px;
        gap: 15px;
    }
    .new-comment{
        width: 100%;
        max-width: 425px;
    }

    .reply-form>*, .new-comment>*{
        flex: 0 1 auto;
    }
    .reply-form img, .new-comment img{
        width: 40px;
        height: auto;
    }
    .reply-form textarea, .new-comment textarea{
      order: -1;
        flex: 4;
        width: 100%;
        height: 100%;
    }
    .reply-form button, .new-comment button, .update-btn{
        width: 6rem;
        height: 2.8rem;
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        background: hsl(238, 40%, 52%);
    }
    .form1{
      display: none;
    }
   .reply-form-mobile{
     display: flex;
     flex-flow: row ;
     justify-content: space-between;
     align-items: center;
     width: 100%;
   }
    /* Mycomments: Comments and Relies that are made by the user */
    .edit-options{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: 10px;
      width: 100%;
      height: 100%;
    }
    .header-btn{
      display: none !important;
    }
    .header-btn-mobile{
      display: flex !important;
      flex-flow: row wrap;
      background-color: transparent !important;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  #comments-wrapper{
    row-gap: 1rem;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
}
/* already writen replies being displayed */
.replied{
    width: 100%;
    max-width: 425px;
    border-left: 1px solid black;
    row-gap: 1rem;
}
.replied .wrapper{
    width: 95%;
}

/* COMMENTS CSS *****************************************************/
.wrapper {
    width: 100% ;
    max-width: 425px;
    height: auto;
  }
  
  .comment{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    min-height: 10rem;
    height: auto;
    padding: 1rem;
    gap: 24px;
  }
  
  .like-btn{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    gap: 15px;
    order: 10;
    border-radius: 5px;
    padding: .5rem;
    background-color: transparent;
  }
  .like-btn div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: hsl(223, 19%, 93%);
  }
  .header-btn-mobile{
    display: flex;
    flex-flow: row wrap !important;
    justify-content: center;
    align-items: center;
    gap: 5px !important;
  }

  .header img{
    width: 30px;
    height: auto;
  }

  .reply-btn{
    display: none;
  }
  .reply-btn-mobile{
    display: flex !important;
    height: auto;
  }

  /* reply-form: The box to write new replies in */
  /* new-comment: The box to write new comments in */
  .reply-form, .new-comment{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 1rem;
      background: white;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      height: 10rem;
      padding: 10px;
      gap: 15px;
  }
  .new-comment{
      width: 100%;
      max-width: 425px;
  }

  .reply-form>*, .new-comment>*{
      flex: 0 1 auto;
  }
  .reply-form img, .new-comment img{
      width: 40px;
      height: auto;
  }
  .reply-form textarea, .new-comment textarea{
    order: -1;
      flex: 4;
      width: 100%;
      height: 100%;
  }
  .reply-form button, .new-comment button, .update-btn{
      width: 6rem;
      height: 2.8rem;
      border: none;
      outline: none;
      border-radius: 10px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background: hsl(238, 40%, 52%);
  }
  .form1{
    display: none;
  }
 .reply-form-mobile{
   display: flex;
   flex-flow: row ;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }

  /* Mycomments: Comments and Relies that are made by the user */
  .header-btn{
    display: none !important;
  }
  .header-btn-mobile{
    display: flex !important;
    flex-flow: row wrap;
    background-color: transparent !important;
  }

}