/* BASIC ****************************************************** */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* * {
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important;
} */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100% !important;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

body,
main,
#root,
#page-wrapper {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  color: #c3c4ef;
  background-color: #f5f6fa;
  /* Very light gray */
}

#page-wrapper,
#info-group,
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#page-wrapper, body, html {
  height: auto;
}

/*  ******************************************************* */
#comments-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/* already writen replies being displayed */
.replied {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  border-left: 1px solid #c3c4ef;
  row-gap: 1rem;
}

.replied--special {
  width: 100%;
}

.replied .wrapper {
  width: 90%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
